appdirs==1.4.2
dj-database-url==0.4.1
Django==1.10.4
django-appconf==1.0.2
django-classy-tags==0.8.0
django-easy-maps==0.9.3
django-map-widgets==0.1.8
geopy==1.11.0
gunicorn==19.6.0
httplib2==0.10.3
oauth2==1.9.0.post1
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
PyJWT==1.4.2
pyparsing==2.1.10
python-openid==2.2.5
python-social-auth==0.2.12
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
whitenoise==3.2
