/*
	This is a basic stylesheet for the django-postman application.
	Called from templates/postman/base.html.
	Make your own design in <settings.STATIC_ROOT>/postman/css/postman.css
*/

body {
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  background-image:url("../media/peer-to-peer-background.png");
}

.outer {
  position: relative;
  left: 50%;
  float: left;
}
.content {
  position: relative;
  left: -50%;
  float: left;
  background: rgba(255,255,255,.9);
  margin-top: 150px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border: 2px solid black;
  width: 600px;
}

#postman_menu {
  position: fixed;
  left: 28%;
  margin-top: 100px;
  background: rgba(255,255,255,.9);
  font-size: 20px;
  z-index: 100;
}
#postman_menu li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

#pm_byModes {
  margin-bottom: 10px;
}
#pm_messages table, th, td {
  border: 1px solid black;
  width: 100%;
}
#pm_messages th {
  padding: 5px;
  text-align: center;
}
#pm_messages td {
  padding: 7px;
  text-align: center;
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button:hover {
  text-decoration: none;
  color: black;
}

.pm_message.pm_deleted {
 text-decoration: line-through;
}
.pm_message.pm_deleted .pm_body{
 display: none;
}
.pm_message.pm_archived {
 font-style: italic;
 color: grey;
}
.pm_message.pm_unread .pm_subject {
 font-weight: bolder;
}
.pm_message.pm_pending .pm_header {
 background-color: #FFC;
}
.pm_message.pm_rejected .pm_header {
 background-color: #FDD;
}
