{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body id="about">
  <div class="container">
	<div class="row">
	<h1 style="text-align:center;">MealHub</h1>
	<h3 style="text-align:center;">A P2P home-cooked meal exchange platform</h3>
	<div class="col-md-12">
		<p>
			Many struggle to find time to cook, while others enjoy
			plenty. Mealhub is a peer-to peer local meal-sourcing platform
			that connects busy and/or cash strapped people in search
			of an affordable, home cooked meals (Mouths) to those interested
			in monetizing their kitchens and culinary skills (Chefs). Mouths
			interested in purchasing meals will be able to search for Chefs
			by location. Chefs will advertise the meals they are willing to provide,
			as well as meals they have currently available. Chefs can post information
			such as ingredients, nuber of servings, price, and availability time for each
			meal they cook. Mouths will be able to rate Chefs and individual meals based
			their eating experiences. All financial transactions will be negotiated and
			conducted independently between Mouths and Chefs. The MealHub platform will provide Mouths access
			rare authentic food from a diverse range of cultures and ethnicities without
			paying restaurant premiums and provide Chefs access to a marketplace without
			investing in full scale restaraunts.
		</p>
	</div>
	</div>
  </div>
  </body>
 </html>
 {% endblock %}