{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Account</title>
  </head>
  <body id="register">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit">Save changes</button>
    </form>
  </body>
</html>
{% endblock %}
