{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Account</title>
  </head>
  <body id="edit">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table id="edit_table">
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
      </table>
      <button type="submit" style="margin-top: 2%; margin-bottom: 2%;">Save Changes</button>
    </form>

    <p>Connected Social Accounts:</p>
    {% if facebook_login %}
    <p>Connected to Facebook as: <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit" class="button">Disconnect from Facebook</button>
      </form>
    {% else %}
      <li><button type="button" disabled>Disconnect from Facebook</button></li>

    {% endif %}
  {% else %}
    <a href="{% url "social:begin" "facebook" %}" class="button">Connect to Facebook</a>
  {% endif %}</p>

    {% if google_login %}
    <p>Connected to Google as: <a href="https://google.com/{{google_login.extra_data.id}}/" target="_blank">{{ google_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
        {% csrf_token %}
        <button type="submit" class="button">Disconnect from Google</button>
      </form>
    {% else %}
      <li><button type="button" disabled>Disconnect from Google</button></li>

    {% endif %}
  {% else %}
    <a href="{% url "social:begin" "google-oauth2" %}" class="button">Connect to Google</a>
  {% endif %}
  </body>
</html>
{% endblock %}
