{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Account</title>
  </head>
  <body id="edit">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table id="edit_table">
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
      </table>
      <button type="submit" style="margin-top: 2%; margin-bottom: 5%;">Save Changes</button>
    </form>

    <p><strong>Connected Social Accounts:</strong></p>
    {% if facebook_login %}
      <p>Connected to Facebook as: <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login }}</a></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Facebook</button>
    </form>
      {% else %}
        <button type="button" disabled>Disconnect from Facebook</button>
        <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
      {% endif %}
    {% else %}
      <span class="facebook" style="position: relative; left: 0;">
        <img src="/static/mealhub/icons/facebook.png" alt="facebook_icon" height="42" width="42">
        <li><a href="{% url "social:begin" "facebook" %}">Connect to Facebook</a></li>
      </span>
    {% endif %}</p>

    {% if google_login %}
      <p>Connected to Google as: <a href="https://google.com/{{ google_login }}/" target="_blank">{{ google_login }}</a></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
          {% csrf_token %}
          <button type="submit">Disconnect from Google</button>
        </form>
      {% else %}
        <button type="button" disabled>Disconnect from Google</button>
        <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Google.</p>
      {% endif %}
    {% else %}
      <span class="google" style="position: relative; left: 0;">
        <img src="/static/mealhub/icons/google.png" alt="google_icon" height="42" width="42">
        <li><a href="{% url "social:begin" "google-oauth2" %}">Connect to Google</a></li>
      </span>
    {% endif %}
  </body>
</html>
{% endblock %}
