{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'mealhub/media/cutlery.ico' %}">

    <title>{% block title %}Home{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'mealhub/css/MealHub_Stylesheet.css' %}" rel="stylesheet">
</head>
<body id = "homePage">
	<div class="homePageOuter">
	<div id="content" style="border: None;">
	<div class="container">
		<div class="row">
			<!-- <h1 style="text-align:center">
      <img style="position:relative; max-width: 50px;" src="{% static 'mealhub/media/mealhubLogo.png' %}" alt="mealh hub logo">
    MealHub</h1> -->
    <img style="position:relative;width:100%;margin-left:20%;margin-top: -1.5%;border-radius:30px; max-width: 700px;" src="{% static 'mealhub/media/mealHubText.png' %}" alt="mealh hub text">
			<h4 style="text-align:center">A P2P home cooked meal exchange platform</h4>
		</div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href ="#">
          <img class="navImg"  src="{% static 'mealhub/media/mealhubLogo.png' %}" alt="meal hub logo">
        </a>
          <!-- <a class="navbar-brand" href="{% url "home" %}">MealHub</a> -->
        </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
      		  {% if request.user.is_authenticated %}
            {% if user.profile.user_type == "C" %}
            <li><a href="{% url "user_hub" %}">Chef Hub</a></li>
            {% endif %}
            {% if user.profile.user_type == "M" %}
            <li><a href="{% url "user_hub" %}">Mouth Hub</a></li>
            {% endif %}
  			    <li><a href="{% url "edit" %}">Settings</a></li>
            <li><a href="{% url "postman:inbox" %}">My Messages</a></li>
            <li><a href="{% url "search" %}">My Area</a></li>
  			    <li><a href="{% url "logout" %}">Logout</a></li>
      			<!--this line is last (if not logged in) -->
      			{% else %}
      			<li><a href="{% url "about" %}">About</a></li>
      			<li><a href="{% url "login" %}">Login</a></li>
      			<li><a href="{% url "register" %}">Register</a></li>
      		  {% endif %}
          </ul>
      </div><!--/.nav-collapse -->
    </div>
    </nav>
	<div class="row">
		<div id="meal_feed" class="col-md-6">
          <h2>Meal Feed</h2>
		</div>
        <div id="request_feed" class="col-md-6">
          <h2>Request Feed</h2>
        </div>
		<div class="col-md-6 MealFeedHome">
			{% if meal %}
			   <ul>
			    {% for m in meal %}
					<li>
						<img src="{{ m.photo.url }}" alt="photo">
						<a href="{% url 'meals' username=m.user.username|cut:'.' mealname=m.mealname|cut:' '|cut:'\'' %}">{{ m.mealname|title }}</a>
						<p>Posted by {{ m.user.username }} {{ m.date_posted|timesince }} ago.</p>
					</li>
				{% endfor %}
			    </ul>
			{% endif %}
		</div>
		<div class="col-md-6 RequestFeedHome">
			{% if meal_request %}
			    <ul>
			      {% for r in meal_request %}
						<li><a href="{% url 'meal_requests' username=r.user.username|cut:'.' meal_request_name=r.mealRequestName|cut:' '|cut:'\'' %}">{{ r.mealRequestName|title }} </a>
							<p>Requested by {{ r.user.username }} {{ r.date_requested|timesince }} ago.</p>
						</li>
					{% endfor %}
			    </ul>
			{% endif %}
				</div>
			</div>
		<footer>
			<p>© 2017 MealHub, Inc.</p>
		</footer>
	</body>
</html>
