{% extends "base.html" %}
{% block title %}Mealhub Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
		<title>Mealhub home</title>
</head>
<body id = "homePage">
	<div class="container">
		<div class="row">
			<h1 style="text-align:center">MealHub</h1>
			<h4 style="text-align:center">A P2P home cooked meal exchange platform</h4>
		</div>
		<div class="row">
			<div class="col-md-6 MealFeed">
				<p>Meal Feed</p>
				{% if meal %}
		    <ul>
		      {% for m in meal %}
						<li>{{ m.user.username }} posted {{ m.mealname }} on {{ m.date_available|date:"m/d/y" }} at {{ m.date_available|date:"g:i a" }}</li>
		      {% endfor %}
		    </ul>
		    {% endif %}
			</div>
			<div class="col-md-6 RequestFeed">
				<p>Request Feed</p>
				{% if meal_request %}
		    <ul>
		      {% for r in meal_request %}
		        <li>{{ r.user.username }} requested {{ r.mealRequestName }} on {{ r.date_requested|date:"m/d/y" }} at {{ r.date_requested|date:"g:i a" }}</li>
		      {% endfor %}
		    </ul>
		    {% endif %}
			</div>
		</div>
	</div>
</body>
<footer>
	<p>EXTRA LINKS AND INFORMATION, ANY ADDITIONAL INFORMATION WILL BE DISPLAYED HERE</p>
</footer>

</html>
{% endblock %}
