{% extends "base.html" %}
{% block title %}Mealhub Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
		<title>Mealhub home</title>
</head>
<body id = "homePage">
	<div class="container">
		<div class="row">
			<h1 style="text-align:center">MealHub</h1>
			<h4 style="text-align:center">A P2P home cooked meal exchange platform</h4>
		</div>
		<div class="row">
			<div class="col-md-6 MealFeed">
				<p>MEALFEED HERE</p>
			</div>
			<div class="col-md-6 RequestFeed">
				<p>REQUESTFEED HERE</p>
			</div>
		</div>
	</div>
</body>
<footer>
	<p>EXTRA LINKS AND INFORMATION, ANY ADDITIONAL INFORMATION WILL BE DISPLAYED HERE</p>
</footer>

</html>
{% endblock %}