{% extends "base.html" %}
{% load static %}
{% block title %}Meal Name{% endblock %}
{% block content %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
		<title>Mealhub Meal view</title>
</head>
<body id = "mealView">
	<div class="container">
		<div class="row">
			<h1 style="text-align:center;">{{ meal.mealname }}</h1>
			<br>
			<!-- MESSAGE THE CHEF BUTTON -->
			<a id="message_the_chef" href="{% url "postman:write" meal.user.username %}" class="button">Message this Chef</a>
		</div>
		<div class="row">
			<div class="col-md-6 MealView">
				<img class="meal_image" src="{{ meal.photo.url }}" alt="photo" style="width:200px;height:200px;">
				<h2 style="text-align:center; margin-top:4%;">Meal Info</h2>
				<ul>
					<li><strong>Posted:</strong> {{ meal.date_posted|timesince }} ago.</li>
					<li><strong>Chef:</strong> {{ meal.user.username }}</li>
					<li><strong>Servings:</strong> {{ meal.servings_available }} </li>
					<li><strong>Description:</strong> {{ meal.mealdesc }} </li>
					<li style="float:left; margin-top:20px;"><strong>Ingredients:</strong>
						<ul class="meal_ingredients">
							{% for i in ingredients %}
								<li>{{ i }}</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-6 MealRatings">
				<h2 style="text-align:center;">Reviews</h2>
				<h3 style="margin-top:-2px;">Add a Review:</h3>
				<form method="post" action="." enctype="multipart/form-data">
					{% csrf_token %}
					<table class="review_table">
						{{ review_form.as_table }}
					</table>
					<button type="submit" class="review_button">Submit</button>
				</form>
				<h4 style="text-align:left;">Overall: {% if reviews %}
					{% for i in reviews|review_avg_whole|times %}<img src="{% static 'mealhub/icons/star.png' %}" alt="star" width="20px" height="20px">{% endfor %}{% for i in reviews|review_avg_part|times %}<img src="{% static 'mealhub/icons/star-h.png' %}" alt="star" width="20px" height="20px">{% endfor %}
					{% else %}{% for i in 5|times %}<img src="{% static 'mealhub/icons/star-1.png' %}" alt="star" width="20px" height="20px">{% endfor %}
					{% endif %}</h4>
				<div class="has_reviews_table_wrapper">
					{% if reviews %}
					<table class="has_reviews_table">
						<tr>
							<th>Reviewed By</th>
							<th>Review Text</th>
							<th>Review Rating</th>
						</tr>
						{% for r in reviews %}
							<tr>
								<td>{{ r.reviewed_by }}</td>
								<td>{{ r.review_text }}</td>
								<td>{% for i in r.review_rating|times %}<img src="{% static 'mealhub/icons/star.png' %}" alt="star" width="18px" height="18px">{% endfor %}{% for i in r.review_rating|empty_stars %}<img src="{% static 'mealhub/icons/star-1.png' %}" alt="star" width="18px" height="18px">{% endfor %}</td>
							</tr>
						{% endfor %}
					{% else %}
					<h4 style="margin-top:30px; text-align:center;">No reviews added . . .</h4>
					{% endif %}
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
