{% extends "base.html" %}
{% load static %}
{% block title %}Meal Request{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <body>
  {% if meal_request %}
    <div>
      <ul>
        <h1> {{ meal_request.mealRequestName }} </h1>
        <p> {{ meal_request.servings_requested }}</p>
        <p> {{ meal_request.other }}</p>
      </ul>
      <!-- MESSAGE THE MOUTH BUTTON -->
      <a href="{% url "postman:write" meal_request.user.username %}" class="button">Message this Mouth</a>
    </div>
  {% endif %}
  </body>
</html>
{% endblock %}
