{% extends "base.html" %}
{% block title %}Meal Name{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
		<title>Mealhub Meal view</title>
</head>
<body id = "mealView">
	<div class="container">
		<div class="row">
			<h1 style="text-align:center">{{ meal.mealname }}</h1>
		</div>
		<div class="row">
			<div class="col-md-6 MealView">
				<h4 style="text-align:center;">meal info placeholder</h4>
				<ul>
					<li>posted: {{ meal.date_posted|timesince }} ago.</li>
					<li>servings:{{ meal.servings_available }} </li>
					<li>description:{{ meal.mealdesc }} </li>
					<li>ingredients: </li>
					<!--for ingredients in meal
						<li> ingredients.name</li>
						-->
				</ul>
				  {% if meal %}
				<div>
					<ul>
					<p> {{ meal.mealname }} </p>
					<!-- <p> {{ meal.photo.url }}</p> -->
					<img src="{{ meal.photo.url }}" alt="photo" style="width:200px;height:200px;">
					</ul>
				</div>
				{% endif %}
			</div>
			<div class="col-md-6 MealRatings">
				<h4 style="text-align:center;">Ratings</h4>
				<h5 style="text-align:center;">overall: {{ meal.meal_rating }}</h5>
				<p class="ratelist">user rating list here</p>
				<h2>Rate this Meal</h2>
				<p>rating form here</p>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
