{% extends "base.html" %}
{% load static %}

{% block title %}User Hub{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Hub</title>
  </head>
  <body id="UserHub">
  <div class="container">

    {% if request.user.is_authenticated %}
	<div class="row">
	<div class="col-md-12">
    <h1>Welcome {{ user.first_name|title }}!</h1>
    <p>Welcome to your dashboard. You can <a href="{% url "edit" %}">edit your profile</a>
      or <a href="{% url "password_change" %}">change your password</a>
      or <a href="{% url "logout" %}">logout</a>.</p>

      <!--Chef feed -->
    {% if request.user.profile.user_type == "C" %}
    <h2>Chef Hub</h2>

    <h1> {{ user.first_name|title }}'s hub</h1>
    <!-- post a meal form -->
    <div class="row">
			<div class="col-md-6 RequestFeed">
        <p>REQUESTFEED HERE</p>
				{% if meal_request %}
		    <ul>
          {% for r in meal_request %}
		        <li>{{ r.user.username }} requested {{ r.mealRequestName }} on {{ r.date_requested|date:"g:i a m/d/y" }} {{ r.user.profile.zip_code }}
		      {% endfor %}
		    </ul>
		    {% endif %}
      </div>
      <div class="col-md-6 MealFeed">
    <div class ="CreateMealForm">
      <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ meal_form.as_p }}
        <input type="submit" value="Post A Meal" class="btn"/>
      </form>
    </div>
    </div>
    </div>

    {% endif %}

    <!--Mouth feed-->
    {% if request.user.profile.user_type == "M" %}
    <h2> Mouth Hub</h2>
    <h1> {{ user.first_name|title }}'s hub</h1>
    <div class="row">
			<div class="col-md-6 MealFeed">
				<p>MEALFEED HERE</p>
				{% if meal %}
		    <ul>
          {% load filters %}
          {% for m in meal %}
		        <li><a href="{% url 'meals' username=m.user.username|cut:"." mealname=m.mealname.split|join:"_" %}">{{ m.user.username }} {{ m.mealname }} {{ m.date_available|date:"g:i a m/d/y" }} {{ m.user.profile.zip_code }}</a></li>
		      {% endfor %}
		    </ul>
		    {% endif %}
			</div>
    <!-- post a meal form -->
    <div class="col-md-6 MealFeed">
    <div class ="MealRequestForm">
      <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ meal_request_form.as_p }}
        <input type="submit" value="Post A Meal Request" class="btn"/>
      </form>
    </div>
    {% endif %}
  </div>
</div>

	</div>
	</div>
	</div>
    {% endif %}
  </body>
</html>
{% endblock %}
