{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <p><a href="{% url "home" %}">Home</a></p>
    </div>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">✖</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="outer">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
