{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body id="login">
    <h1>Log-In:</h1>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% else %}
    <p>Please use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>
	  <p>Not a member?<a href="{% url "register" %}"> Register</a></p>
      <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
    </div>
    <div class="social">
      <ul>
        <span class="facebook">
          <img src="/static/mealhub/icons/facebook.png" alt="facebook_icon" height="42" width="42">
          <li><a href="{% url "social:begin" "facebook-oath2" %}">Login with Facebook</a></li>
        </span><br><br>
        <span class="google">
          <img src="/static/mealhub/icons/google.png" alt="google_icon" height="42" width="42">
          <li><a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a></li>
        </span>
      </ul>
    </div>
  </body>
</html>
{% endblock %}
