* {
  --font-family: 'Alegreya', cursive;
  font-size: 16px;
}

body {
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.messages {
	list-style: none;
	font-size: 20px;
	color: red;
	width: 18%;
	background-color: white;
	position: relative;
	left: 41%;
}

/*These are defined in the html body pages to set backgrounds*/
#login{
	background-image:url("../media/city-users-banner.png");
}
#register{
	background-image:url("../media/ethiopian-platter.jpg");
}
#UserHub{
	background-image:url("../media/indian-dishes.jpg");
}
#about{
	background-image:url("../media/peer-to-peer-background.png");
}
#homePage{
	background-image:url("../media/medium-veggies.jpg");
}

/*These are part of and have to deal with base.html*/
#outer {
  position: relative;
  left: 50%;
  float: left;
}
#content {
  background: rgba(255,255,255,.6);
  margin-top: 80px;
  position: relative;
  left: -50%;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.messages {
	list-style: none;
	font-size: 20px;
	color: red;
	width: 18%;
	background-color: white;
	position: relative;
	left: 41%;
}

/*feeds and forms formattings */
.RegisterForm{
	padding-bottom: 21px;
	padding-top: 21px;
}
.MealFeed{
	border:2px solid black;
	border-radius:2px;
}
.RequestFeed{
	border:2px solid black;
	border-radius:2px;
}

/*This is for phones*/
@media screen and (max-width:600px){
}
