* {
  --font-family: 'Alegreya', cursive;
  font-size: 16px;
}

body {
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

body footer {
  position: absolute;
  height: 30px;
  left: 43%;
  bottom: -55px;
  margin-bottom: 10px;
  background: rgba(255,255,255,.6);
  padding: 2px;
}

/*These are defined in the html body pages to set backgrounds*/
#login {
	background-image:url("../media/city-users-banner.png");
}
#edit {
	background-image:url("../media/city-users-banner.png");
}
#register {
	background-image:url("../media/ethiopian-platter.jpg");
}
#UserHub {
	background-image:url("../media/indian-dishes.jpg");
}
#about {
	background-image:url("../media/peer-to-peer-background.png");
}
#homePage {
	background-image:url("../media/medium-veggies.jpg");
}
#mealView {
	background-image:url("../media/ethiopian-platter.jpg");
}
#mealRequestPage {
  background-image:url("../media/ethiopian-platter.jpg");
}
/*These are part of and have to deal with base.html*/
#outer {
  position: relative;
  left: 50%;
  float: left;
}
#content {
  background: rgba(255,255,255,.6);
  margin-top: 80px;
  position: relative;
  left: -50%;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
  border: 2px solid black;
}

/* HOME PAGE */
#homePage .homePageOuter {
  position: absolute;
  margin-top: -50px;
  float: left;
  left: 50%
}
.homeNavIn{
	width:50%;
	left:25%;
}
.homeNavOut{
	width:35%;
	left:32.5%;
}
.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

/* USER MESSAGES */
.messages {
	list-style: none;
	font-size: 20px;
	color: red;
	width: 30%;
	background-color: white;
  z-index: 10;
	position: relative;
	left: 35%;
  margin-top: 10px;
}
.messages li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* MEAL & MEAL REQUEST FEEDS */
.MealFeedHome{
	/*border:2px solid black;*/
	border-radius:2px;
  height: 450px;
  margin-bottom: 15px;
  overflow: scroll;
}
.meal_feed_p {
  position: relative;
  left: 43%;
  font-size: 20px;
}
.MealFeedHome a{
  margin-left: 10px;
}
.MealFeedHome ul{
  margin-left: 10%;
  width: 75%;
}
.MealFeedHome li{
  border-radius: 25px 50px;
  border: 2px solid #000000;
  background: rgba(255,255,255,.3);
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 25px;
}
.MealFeedHome li img{
  position: relative;
  border-radius: 10px 5px 15px 27px;
  border: 1px solid #000000;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.MealFeedHome li p{
  position:relative;
  left: 0%;
  margin-left: 65px;
  margin-top: -20px;
  font-size: 13px;
}

.MealFeed {
	/*border:2px solid black;*/
	border-radius:2px;
  height: 460px;
  overflow: scroll;
}
.MealFeed p {
  position: relative;
  left: 40%;
  margin-top: 10px;
  font-size: 20px;
}

.MealFeed li{
  border-radius: 25px 50px;
  border: 2px solid #000000;
  background: rgba(255,255,255,.3);
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.MealFeed li img{
  position: relative;
  border-radius: 10px 5px 15px 27px;
  border: 1px solid #000000;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.MealFeed li p{
  position:relative;
  left: 0%;
  margin-left: 65px;
  margin-top: -20px;
  font-size: 13px;
}
.request_feed_p {
  position: relative;
  left: 44%;
  font-size: 20px;
}
.RequestFeedHome{
	/*border:2px solid black;*/
	border-radius:2px;
  height: 450px;
  margin-bottom: 15px;
  overflow: scroll;
}
.RequestFeedHome ul{
  margin-left: 10%;
  width: 75%;
}
.RequestFeedHome p {
  position: fixed;
  left: 40%;
  margin-top: 10px;
  font-size: 20px;
}
.RequestFeedHome li{
  border-radius: 25px 50px;
  border: 2px solid #000000;
  background: rgba(255,255,255,.3);
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.RequestFeedHome li a{
  position: relative;
  margin-top: 0px;
}
.RequestFeedHome li p{
  position:relative;
  left: 0%;
  margin-top: 2px;
  font-size: 13px;
}

.RequestFeed{
	/*border:2px solid black;*/
	border-radius:2px;
  height: 460px;
  margin-bottom: 10px;
  overflow: scroll;
}
.RequestFeed p {
  position: relative;
  left: 40%;
  margin-top: 10px;
  font-size: 20px;
}
.RequestFeed li{
  border-radius: 25px 50px;
  border: 2px solid #000000;
  background: rgba(255,255,255,.3);
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.RequestFeed li a{
  position: relative;
  margin-top: 0px;
}
.RequestFeed li p{
  position:relative;
  left: 0%;
  margin-top: 2px;
  font-size: 13px;
}

/* REGISTER FORM */
.RegisterForm{
	padding-bottom: 21px;
	padding-top: 21px;
}
#register_table td {
  padding: 2px;
}
.register_button {
  position: relative;
  margin-top: 10px;
  left: 25%;
}

/* CREATE_REVIEW FORM */
.review_button {
  position: relative;
  left: 21%;
}
.review_text {
  height: 60px;
}

/* CREATE MEAL FORM */
.CreateMealForm {
  position: relative;
  margin-top: 10px;
  background: rgba(255,255,255,.3);
  border-radius: 25px 50px;
  border: 2px solid #000000;
  padding-bottom: 11%;
  /*border: 1px solid black;*/
}
.CreateMealForm p:first-child {
  position: relative;
  left: 40%;
  margin-bottom: 15px;
}
.CreateMealForm button {
  position: relative;
  left: 44%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.CreateMealForm table{
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
}
.CreateMealForm table th{
  width: 100%;
}

#meal_table td {
  padding: 8px;
}

/* CREATE MEAL REQUEST FORM */
.MealRequestForm {
  position: relative;
  margin-top: 10px;
  background: rgba(255,255,255,.3);
  border-radius: 25px 50px;
  border: 2px solid #000000;
  padding-bottom: 16%;
}
.MealRequestForm p:first-child {
  position: relative;
  left: 35%;
  margin-bottom: 30px;
}
.MealRequestForm button {
  position: relative;
  left: 48%;
  margin-top: 10px;
  margin-bottom: 40px;
}
.MealRequestForm table{
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
}
.MealRequestForm table th{
  width: 50%;
}
#request_table td {
  padding: 8px;
}
.homeNavIn{
	width:50%;
	left:25%;
}
.homeNavOut{
	width:35%;
	left:32.5%;
}
.navbar.center .navbar-inner {
    text-align: center;
}

/* MEAL PAGE */
.has_reviews_table_wrapper {
  overflow-y: scroll;
  height: 200px;
}
.has_reviews_table table, .has_reviews_table th, .has_reviews_table tr, .has_reviews_table td {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
.has_reviews_table td {
  max-width: 330px;
  overflow: hidden;
}
#message_the_chef {
  position: relative;
  left: 45%;
}
.meal_image {
  border: 2px solid black;
  float: left;
  margin-top: 5%;
  margin-right: 10%;
}
.MealView ul {
  list-style: none;
}
.MealView li {
  margin: 5px 5px 0px 0px;
}
.meal_ingredients {
  float: right;
  height: 180px;
  width: 300px;
  overflow-y: scroll;
}
.meal_ingredients li {
  list-style: square;
  margin: 0;
}

/* MEAL REQUEST PAGE */
.meal_request_data {
  text-align: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* SOCIAL AUTHENTICATION BUTTONS */
.google {
  background-color: white;
  padding: 8px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.google li {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.google a {
  color: black;
}
.facebook {
  background-color: white;
  padding: 8px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.facebook li {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.facebook a {
  color: black;
}

/* LINK --> BUTTON STYLING */
.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button:hover {
  text-decoration: none;
  color: black;
}

/* This is for phones */
@media screen and (max-width:600px){
}
