body {
	padding-top: 50px;
	background-image:url("../media/ethiopian-platter.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
}
.MealFeed{
	visibility:shown;
	position:relative;
	background:rgba(172,173,172,.6);
	border-left:6px solid blue;

}
.MealFeed h3{
	text-align: center;
}
.RightSide{
	visibility:shown;
	float:right;
	position:relative;
	background:rgba(172,173,172,.6);
	border-right:6px solid blue;

}
.RightSide h3{
	text-align: center;
}
.RegisterForm{
	background-color:white;


}

.MealFeedHeader{
	visibility:shown;
	position:relative;
	text-align:center;

}
/*This is for phones*/
@media screen and (max-width:600px){
	.MealFeed{
		visibility:hidden;
	}
	.MealFeedHeader{
		visibility:hidden;
	}

}
